<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!--================= canonical URL =========================-->
{{/* Use relcanonical from front matter if set, otherwise use the page's permalink */}}
{{ with .Params.relcanonical }}
<link rel="canonical" href="{{ . | relLangURL }}" />
{{ else }}
<link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ partial "helpers/style-bundle.html" . }}

<!--================= fab-icon =========================-->
{{ $favicon32 := resources.Get "images/site/favicon-32x32.png" }}
{{ $favicon16 := resources.Get "images/site/favicon-16x16.png" }}
{{ $faviconIco := resources.Get "images/site/favicon.ico" }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.RelPermalink }}">
<link rel="icon" type="image/x-icon" href="{{ $faviconIco.RelPermalink }}">

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
